@model List<PiattoViewModel>

<h2>Lista dei Piatti</h2>
<a type=button class="btn btn-primary" asp-controller="Piatti" asp-action="Create">Inserisci un nuovo Piatto</a> 

<table class="table table-hover table-dark table-bordered opacity-75" style="color:whitesmoke  ">
    <thead>
        <tr style="color:black">
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
            <th>Portata</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Nome</td>
                <td>@item.Descrizione</td>
                <td>@item.Prezzo</td>
                <td>@item.Tipo</td>
                <td>
                    <a asp-controller="Piatti" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Modifica</a>
                </td>
                <td>
                    <a asp-controller="Piatti" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
 </table>